<%= form_with(model: user_in_company, local: true) do |form| %>
  <% if user_in_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_in_company.errors.count, "error") %> prohibited this user_in_company from being saved:</h2>

      <ul>
      <% user_in_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_in_company_user_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :user_in_company_company_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :user_in_company_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date, id: :user_in_company_end_date %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :user_in_company_position %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :user_in_company_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
